{% extends "base.html" %}
{% load humanize %}
{% block content %}


<br><br>
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.picture.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5><br><br>
              <p class="card-text">📌 توضیحات محصول :  {{ product.discription }}</p>
              
              {% if product.is_sale and product.sale_price > 0 %}
                <p class="card-text">
                     
                     💰 قیمت :  <strike>{{ product.price | intcomma }} تومان</strike> __ {{ product.sale_price | intcomma }} تومان
                </p>
              {% else %}
               <p class="card-text">💰 قیمت : {{ product.price | intcomma }} تومان</p>
              {% endif %}
               
              <div class="d-flex justify-content small text-warning mb-2">
                
                <p class="card-text">امتیازات محصول :</p>
                 {% with ''|center:product.star as range %}

                    {% for _ in range %}
                        <div class="bi-star-fill"></div>
                    {% endfor %}
                {% endwith %}
              </div>
              <p class="card-text"> 🚚 ارسال دیجی کالا</p>
              <br><br>
              <button class="btn btn-secondary" type="button" value="{{ product.id }}" id="add-cart">اضافه کردن به سبد</button>
              <a  href="{% url 'home'  %}" class="btn btn-secondary">بازگشت به صفحه اصلی</a>
            </div>
          </div>
        </div>
      </div>
</div>
<br><br><br><br><br><br>

<script>

$(document).on('click' , '#add-cart' , function(e){

  e.preventDefault();
  $.ajax({
    type: 'POST' ,
    url: "{% url 'cart_add' %}",
    data:{
      product_id : $('#add-cart').val() ,
      csrfmiddlewaretoken : '{{ csrf_token }}' ,
      action : 'post'
    },
    success: function(json){
      //console.log(json)
      //برای نمایش تعداد محصولqty
      document.getElementById('cart_quantity').textContent = json.qty
    },

    error: function(xhr , errmsg , err){

    }
  });

});

</script>
{% endblock %}